@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500&family=Rubik:wght@300;400;500;600;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

    
}

html{
    font-size: 62.5%;
}

section{
    padding: 2rem 9%;

}

.header{
   position: fixed; 
   top: 0; left: 0; right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 9%;
   z-index: 2;
   background: #2a201c;
}

.header .logo img{
    height: 8rem;

}

.header .navbar #close{
    display: none;

}

.header .navbar a{
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
}

.header .navbar a:hover{
   color: #d3ad7f; 

}

.header #menu{
    display: none;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #2a201c;


}

.home .content{
   flex: 1 1 40rem; 
   
}
.home .content .title{
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}
.home .content .title span{
    text-transform: uppercase;
    color: #d3ad7f;
}

.home .content .description{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;

}
.home .content .btn:hover{
    letter-spacing: .2rem;
}

.home .image{
   flex: 1 1 40rem; 

}
.home .image img{
   width: 80%;
   height: 85vh;
   margin-top:100px ;
   margin-left: 200px;
}

footer{
    width:  100%;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    bottom: 0;
    position: fixed;
    font-size: 20px;
}